<!-- Team start -->
<div id="team" class="section relative pt-20 pb-8 md:pt-16 bg-white dark:bg-gray-800">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- section header -->
    <header class="text-center mx-auto mb-12">
      <h2 class="text-2xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">
        <span class="font-light">Meet Our</span> Team</h2>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
        <circle cx="50.1" cy="30.4" r="5" class="stroke-primary"
          style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
        <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary"
          style="stroke-width: 2;stroke-miterlimit: 10;"></line>
        <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary"
          style="stroke-width: 2;stroke-miterlimit: 10;"></line>
      </svg>
    </header><!-- end section header -->

    <!-- Fpunder -->
    <div class="flex flex-wrap flex-row items-start justify-center">
      <!-- Image aligned to the top of the content -->
      <div class="w-1/3 sm:w-1/4 px-4 mb-8 flex flex-col justify-start">
        <div class="relative overflow-hidden">
          <img src="src/img/annaprofile.jpg" class="max-w-full h-auto mx-auto rounded-full"
            alt="Dr. Annalee Nissenholtz">
        </div>
      </div>

      <!-- Text content on right -->
      <div class="w-2/3 sm:w-3/4 px-4 mb-8">
        <p class="text-lg leading-normal font-bold text-gray-800 dark:text-gray-100">Dr. Annalee Nissenholtz</p>
        <p class="text-gray-500 leading-relaxed font-light">Founder & President</p>

        <p class="mt-4 text-gray-600 dark:text-gray-300">
          Before founding the Education Advisory Group, Dr. Nissenholtz worked as an independent
          college counselor, assisting over 1,000 families across the U.S., China, Canada, New Zealand,
          Myanmar, and India. She not only helped students gain admission to every top 200 U.S. college
          but also mentored and supervised over 60 counselors, developing innovative programs to
          enhance the services provided to families.
        </p>

        <p class="mt-2 text-gray-600 dark:text-gray-300">
          Dr. Nissenholtz’s exceptional contributions to college counseling have earned her widespread
          recognition. She has served as one of only 12 counselors on the U.S. News &amp; World
          Report College Counselors Advisory Board and has been honored by several prestigious
          universities. Her additional leadership roles include:
        <ul class="list-disc pl-6 mt-2 text-gray-600">
          <li>University of North Carolina College Counselor Board</li>
          <li>Washington University College Counselor Board</li>
          <li>St. Louis University College Counselor Board</li>
          <li>Counselor Trainer and Supervisor for College Bound, St. Louis.</li>
        </ul>
        </p>

        <p class="mt-4 text-gray-600 dark:text-gray-300">"With over 35 years of experience, I have dedicated my career
          to helping students and their families navigate the ever-changing college admissions process.</p>
        <p class="mt-2 text-gray-600 dark:text-gray-300">Whether you’re a high-achieving student with a clear vision for
          your future or a student still exploring your interests, finding the right path after high school can feel
          overwhelming for both students and their families. The earlier you start planning, the better equipped you’ll
          be to make informed, confident decisions about your future.</p>
        <p class="mt-2 text-gray-600 dark:text-gray-300">At our practice, we provide world-class college counseling
          services to students across the globe. We understand the unique needs of every student and appreciate the
          diverse cultural perspectives of our international families. Our goal is to help you find, apply to, and get
          admitted to a school where you will thrive—academically, socially, and personally."</p>

      </div>
    </div>

    <!-- Team Member 2: Beth -->
    <div class="flex flex-wrap flex-row items-start justify-center">
      <!-- Image aligned to the top of the content -->
      <div class="w-1/3 sm:w-1/4 px-4 mb-8 flex flex-col justify-start">
        <div class="relative overflow-hidden">
          <img src="src/img/dummy/avatar3.png" class="max-w-full h-auto mx-auto rounded-full"
            alt="Dr. Annalee Nissenholtz">
        </div>
      </div>

      <!-- Text content on right -->
      <div class="w-2/3 sm:w-3/4 px-4 mb-8">
        <p class="text-lg leading-normal font-bold text-gray-800 dark:text-gray-100">Beth McKenzie</p>
        <p class="text-gray-500 leading-relaxed font-light">EAG Team Member</p>

        <p class="mt-4 text-gray-600 dark:text-gray-300">
          Beth brings a wealth of experience and expertise to the Education Advisory Group team, having
          taught at Middlebury, where she worked with international students to elevate their language
          proficiency to meet the rigorous demands of graduate-level study. Her courses went beyond
          language instruction, equipping students with a deep understanding of both the formal and
          informal expectations of American higher education, as well as pedagogy and second language
          acquisition.
        </p>

        <p class="mt-2 text-gray-600 dark:text-gray-300">
          A proud Middlebury graduate with a master’s degree in Applied Linguistics/ESL, Beth is a
          recognized expert in communication and public speaking. She has developed a specialized
          interview training program to prepare students for conversations with admissions officers,
          ensuring they feel confident and make a lasting impression.
        </p>

        <p class="mt-2 text-gray-600 dark:text-gray-300">
          Beth’s global perspective is shaped by six years of teaching and mentoring students across
          China, Canada, Taiwan, and the United States. Her passion for building meaningful relationships
          with students shines through in her counseling approach, creating a supportive and engaging
          environment that helps students reach their full potential.
        </p>

        <p class="mt-4 text-gray-600 dark:text-gray-300">
          Beth excels in guiding students to discover their interests and identify extracurricular activities
          that are not only impactful but also deeply meaningful. She is especially skilled at working with
          younger students in grades 9 and 10, helping them lay a strong foundation for future academic
          and personal success. For juniors and rising seniors, Beth leverages her expertise in writing
          instruction to assist students in brainstorming, drafting, and refining compelling Personal
          Statements.
        </p>

        <p class="mt-2 text-gray-600 dark:text-gray-300">
          When Beth isn’t mentoring students, she’s likely tending to her garden, experimenting in the
          kitchen, or exploring hiking trails near her home in Germany. Her dynamic background,
          dedication to her students, and enthusiasm for education make her an invaluable member of the
          Education Advisory Group team.
        </p>
      </div>
    </div>

    <!-- Team Member 3: Laura Luo -->
    <div class="flex flex-wrap flex-row items-start justify-center">
      <!-- Image aligned to the top of the content -->
      <div class="w-1/3 sm:w-1/4 px-4 mb-8 flex flex-col justify-start">
        <div class="relative overflow-hidden">
          <img src="src/img/lauraprofile.jpg" class="max-w-full h-auto mx-auto rounded-full"
            alt="Dr. Annalee Nissenholtz">
        </div>
      </div>

      <!-- Text content on right -->
      <div class="w-2/3 sm:w-3/4 px-4 mb-8">
        <p class="text-lg leading-normal font-bold text-gray-800 dark:text-gray-100">Laura Luo</p>
        <p class="text-gray-500 leading-relaxed font-light">Intake Consultation Specialist</p>

        <p class="mt-4 text-gray-600 dark:text-gray-300">
          Since 2021, as a mother of two, Laura has been carving out new opportunities in the education field
          and thoroughly enjoying the journey. As an Intake Consultation Specialist, she not only communicates
          the company’s vision clearly to every parent but also focuses on guiding prospective families through
          the initial stages of the consultation process.
        </p>

        <p class="mt-4 text-gray-600 dark:text-gray-300">
          She carefully assesses the needs of students and their families, actively communicates with advisors, provides
          tailored recommendations, and ensures the smooth
          progression of services.
        </p>

        <p class="mt-2 text-gray-600 dark:text-gray-300">
          Laura is dedicated to fostering a trusting and collaborative environment. She is passionate about
          understanding each student’s individual goals and supporting advisors in helping every student achieve
          success.
        </p>
      </div>
    </div>

  </div>
</div>
<!-- Team end -->

<!-- Hero Section -->
<div class="bg-black text-white py-20 mb-8">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold mb-4">Let Us Be Your Guide</h1>
    <p class="text-lg max-w-3xl mx-auto">
      Our mission is to transform the daunting college admissions process into an exciting opportunity
      for growth and self-discovery. Together, we’ll chart a path that’s right for you—one that leads to
      a college where you’ll flourish and achieve your full potential.
    </p>
  </div>
</div>