<!-- start services -->
<div id="whychooseus" class="section relative pt-20 pb-8 md:pt-16 md:pb-0 bg-white">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- Heading start -->
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2 class="text-2xl leading-normal mb-2 font-bold text-black">Why Choose Us?</h2>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
        <circle cx="50.1" cy="30.4" r="5" class="stroke-primary"
          style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
        <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary"
          style="stroke-width: 2;stroke-miterlimit: 10;"></line>
        <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary"
          style="stroke-width: 2;stroke-miterlimit: 10;"></line>
      </svg>
      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">
        Our team of experienced professionals has a proven track record of guiding students to gain
        admission to every highly selective college in the United States. Unlike less experienced
        consultants, we bring decades of expertise, including insights from working on both sides of the
        admissions desk. This allows us to navigate the complexities of shifting rules, policies, and
        trends with precision and confidence.
      </p>
    </header><!-- End heading -->

    <!-- row -->
    <div class="flex flex-wrap flex-row -mx-4 text-center">
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s">
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2">
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">Team-based Approach</h3>
          <p class="text-gray-500">What truly sets us apart is our team-based approach. While each student works closely
            with their dedicated counselor, our counselors regularly collaborate to ensure that every student benefits
            from the collective experience of our team.
        </div><!-- end service block -->
      </div>

      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s"
        data-wow-delay=".1s">
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2">
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">Proven Track Record</h3>
          <p class="text-gray-500">Our team has a proven track record of guiding students to gain admission to every
            highly selective college in the United States, ensuring a high success rate in admissions. Our collaborative
            method ensures thoughtful, tailored guidance
            at every stage of the process.</p>
          </p>
        </div><!-- end service block -->
      </div>

      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s"
        data-wow-delay=".3s">
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2">
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">Expert Insights</h3>
          <p class="text-gray-500">Bringing insights from working on both sides
            of the admissions desk, we can navigate the complexities of shifting rules and trends
            with confidence. Our unique perspective ensures we offer up-to-date guidance that aligns with
            the latest trends in college admissions.</p>
        </div><!-- end service block -->
      </div>


    </div><!-- end row -->
  </div>
</div><!-- End Service -->